/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}
.card {
  text-align: center;
  margin: 1rem;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  border-radius: 1rem;
}
.container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: hsl(225, 100%, 94%);
}
img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.card-title {
  padding: 1rem;
  font-family: "Red Hat Display";
}
.attribution {
  text-align: center;
  margin: 1cm;
}
.card-desc {
  padding: 0rem 3rem;
}

.card-plan {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  text-align: left;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 1rem 1rem 1rem;
}
.plan-title {
  width: 100%;
  font-weight: bolder;
}
.card-button {
  background-color: hsl(245, 75%, 52%);
  color: white;
  border-radius: 1rem;
  border: none;
  padding: 1rem 6rem 1rem 6rem;
}
.card-button:hover {
  opacity: 60%;
}
.cancel {
  border: none;
  border-radius: 1rem;
  padding: 1rem 6rem 1rem 6rem;
  background-color: white;
}
